@charset "utf-8";

body {
	margin: 0;
	background-color: #000;
	overflow-x: hidden;
}

#header {
	position: absolute;
	top: 0;
	width: 1300px;
	height: 312px;
	margin: 0 auto;
	padding: 0;
	background: #000 url("../img/header.png") no-repeat fixed center top;
	overflow: hidden;
}

#footer {
	width: 120px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin: 0 0 0 -60px;
	color: #555;
	font-size: 12px;
	text-align: center;
}