@charset "utf-8";

body {
	margin: 0;
	background-color: #000;
	/*overflow-x: hidden;*/
	color: #fff;
	font-family: "Hiragino Sans GB W3", "冬青黑体", "MS Yahei", "微软雅黑", sans-serif;
}

#header {
	position: relative;
	top: 0;
	width: 100%;
	height: 312px;
	margin: 0 auto;
	padding: 0;
	background: #000 url("../img/header.png") no-repeat center top;
	overflow: hidden;
}

#main-index {
	position: relative;
	top: 0;
	width: 1109px;
	margin: 0 auto;

}

#skin-frame {
	position: relative;
	top: 0;
	left: 0;
	width: 594px;
	height: 359px;
	background: #000 url("../img/skinbg.png") no-repeat left top;
	border: 1px solid #222;
	border-radius: 16px;
	padding-top: 92px;
	padding-left: 30px;
}

#voice-frame {
	position: absolute;
	top: 0;
	right: 0;
	width: 453px;
	height: 359px;
	background: #000 url("../img/voicebg.png") no-repeat left top;
	border: 1px solid #222;
	border-radius: 16px;
	padding-top: 92px;
}

.skin-box {
	float: left;
	width: 188px;
	height: 300px;
	margin-left: 0px;
	text-align: center;
}

/*#boxl {
	left: 0px;
}

#boxm {
	left: 188px;
}

#boxr {
	left: 376px;
}
*/
.voice-box {
	position: relative;
	width: 370px;
	height: 80px;
	margin-left: 40px;
	margin-bottom: 22px;
}

.voice-cover {
	width: 78px;
	height: 78px;
	border: none;
	float: left;
	margin: 0;
}

.skin-cover {
	width: 128px;
	height: 128px;
	border: none;
	margin: 0 auto;
}

.skin-border {
	position: relative;
	top: -130px;
	left: -2px;
	width: 132px;
	height: 132px;
	margin-left: 30px;
	border: none;
	background: url("../img/skinbox.png") no-repeat left top;
	background-size: 100% auto;
}

.voice-border {
	position: absolute;
	top: -1px;
	left: -1px;
	width: 80px;
	height: 80px;
	border: none;
	background: url("../img/skinbox.png") no-repeat left top;
	background-size: 100% auto;
}

.skin-name {
	font-size: 14px;
	font-weight: bold;
	margin: -100px 0 12px 0;
}

.voice-name {
	font-size: 14px;
	font-weight: bold;
	margin-left: 100px;	
}

.skin-author, .skin-votes, .skin-rank {
	color: #ccc;
	font-size: 12px;
	line-height: 16px;
	margin: 0px;
}

.voice-author, .voice-votes, .voice-rank {
	color: #ccc;
	font-size: 12px;
	line-height: 16px;
	margin: 0 0 0 100px;
}

button:hover {
	box-shadow: inset 0 0 8px rgba(255,255,255,0.2);
}

button {
	display: block;
	height: 30px;
	width: 80px;
	padding: 0;
	background: #000 url("../img/btnvote.png") no-repeat left top;
	outline: none;
	border: 1px solid #222;
	border-radius: 6px;
	-webkit-transition: all .3s ease-out;
	        transition: all .3s ease-out;
}

button:active {
	box-shadow: inset 0 0 12px rgba(255,255,255,0.4);
}

button:disabled {
	box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
}

.btn-skin {
	margin: 15px auto;
}

.btn-voice {
	position: absolute;
	top: 0;
	right: 0;
	margin: 26px 0 0 0;
}

#footer {
	width: 120px;
	position: relative;
	bottom: 0;
	left: 50%;
	margin: 20px 0 0 -60px;
	color: #555;
	font-size: 12px;
	text-align: center;
}
